
<div class="container row">
    <div class="col-md-2">
        <h2>Delicious..</h2>    
    </div>
   
    <div class="col-md-10 custom-products-cart-container">
        <div class="offset-md-8">
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <br>
                    <a href="#" class="btn btn-info btn-lg"  data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="fa fa-shopping-cart">
                            FoodItem Added In Cart:
                        </span>
                        <span class="caret">{{cartFoods.length}}</span>
                    </a>
                    
                    <ul class="dropdown-menu dropdown-cart" role="menu">
                        <li *ngFor="let item of cartFoods">
                            <div class="item product-cart-item row">
                                <div class="col-md-8" *ngIf="item">{{item.name}}</div>
                                <div class="col-md-4" *ngIf="item"><strong>${{item.price}}</strong></div>
                            </div>
                        </li>
                        <hr>
                       <!-- <li><a class="btn btn-small btn-success" role="button" (click)="cartTotals()">Total</a></li>-->
                       <!--- <li class="list-group-item active">
                            <strong> Total </strong>{{cartTotals |currency: 'INR'}} 
                        </li>  -->
                        <br> 
                        <li *ngIf="cartFoods.length > 0">
                            <a class="btn btn-small btn-warning" role="button" (click)="emptyCart()">Empty Cart</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>
<hr>

<label>Filter Food</label>
<input [(ngModel)]='food'>
<button type="button" (click)="onFoodFilter()">Search</button>
<button type="button" (click)="onFoodFilterClear()">Clear</button>

<label>Sort</label>
<select [(ngModel)]='SortbyParam'>
<option value ='price'>Price</option>
<option value ='name'>FoodName</option>
<option value ='category'>Category</option>
</select>
<button type="button" (click)="onSortDirection()">
<i *ngIf="SortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
<i *ngIf="SortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>

<div class="container row">
    <div class="col-md-4" *ngFor="let food of foods|filterpipe:searchFood:'name'|sortpipe:[SortbyParam,SortDirection]">
        <div class="card card-block">
            <img class="custom-image-style" img src="{{food.retrievedImage}}" height="200" width="200" style="margin-left: 20px;
          margin-top: 10px">
            <div class="book-desc-container row">
                <div>
                    <p style="margin-left: 30px"><strong>{{food.name}}: ${{food.price}}</strong></p>
                    <p style="margin-left: 30px">{{food.restaurant}}</p>
                </div>
                <div class="offset-md-4 col-md-4">
                    <button class="btn btn-primary btn-sm" (click)="addToCart(food.id)"
                        [disabled]="food.isAdded===true">Add To Cart</button>
                </div>
            </div>

        </div>
    </div>
    
</div>