<p>adminpage works!</p>
<!--<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Admin
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a routerLink="/admin/users" class="dropdown-item">Users</a>
        <a routerLink="/admin/foods" class="dropdown-item">Foods</a>
        
    </div>                 

</li>-->

<div class="dropdown">
    <button class="dropbtn">Admin</button>
    <div class="dropdown-content">
        <a routerLink="/admin/users" class="dropdown-item">Users</a>
        <a routerLink="/admin/foods" class="dropdown-item">Foods</a>
     
    </div>
  </div>